.word-counter {
  margin-top: 40px;
  width: 100%;
}

.word-counter h3 {
  font-size: 28px;
  color: #ff6b6b;
  margin-bottom: 20px;
  text-align: center;
}

.word-counter p {
  font-size: 20px;
  color: #333;
  text-align: center;
}

.word-counter ul {
  list-style: none;
  padding-left: 0;
}

.word-counter li {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}
